<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">List-Reorder</ion-title>
   
    <!--Botones-->
    <ion-buttons slot="end">
      <ion-button (click)="reorderDisable = !reorderDisable">
        TOGGLE
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>

    <ion-reorder-group [disabled]="reorderDisable"
                       (ionItemReorder)="doReorder($event)">
    
    <ion-item *ngFor="let item of arreglos">
      <ion-label>{{item}}</ion-label>
      <ion-reorder slot="end">
        <ion-icon name="logo-xbox"></ion-icon>
      </ion-reorder>
    </ion-item>

  </ion-reorder-group>

  </ion-list>

</ion-content>
