<app-header titulo="Cards"></app-header>

<ion-content class="ion-padding" mode="ios">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Title</ion-card-title>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item color="primary">
     <ion-icon slot="start" name="pin-outline"></ion-icon>
      <ion-label>Awesome Label</ion-label>
    </ion-item>
    <ion-card-content>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis veritatis nam maiores eius tempora atque harum inventore officia dignissimos, nobis ad obcaecati fugit voluptates. Laudantium tempora veritatis beatae nemo quo.
    </ion-card-content>
  </ion-card>


  <ion-card>
    <img src="/assets/R (2).jfif" >
  <ion-card-content>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis veritatis nam maiores eius tempora atque harum inventore officia dignissimos, nobis ad obcaecati fugit voluptates. Laudantium tempora veritatis beatae nemo quo.
   </ion-card-content>
  </ion-card>
  
</ion-content>
